@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
  var templateAlias = Model.GetTemplateAlias();
  var whoPageGuid = "daa73517-5ae4-4bd0-a67a-48288212e667";
  var whoPage = Umbraco.Content(Guid.Parse(whoPageGuid));
  var image = whoPage?.Value<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>("whoImage");
  var imageUrl = image?.Url();
  var currentCulture = Model.GetCultureFromDomains();
  var currentCultureShortIsoCode = currentCulture?.Substring(0, 2);
  var contacts = @Umbraco.GetDictionaryValue("contacts");
  var contactsSlug = contacts?.ToLower();
}

<section class="bg-adductioSoftGrey mt-20">
  <div class="container mx-auto px-3 lg:px-0 pt-20 pb-10">
    <div class="grid grid-cols-5">
      <div class="col-span-2">
        <img class="w-full rounded-sm" src="@imageUrl" alt="Adductio">
      </div>
      <div class="col-span-3 lg:pl-6">
        <p class="font-bold text-adductioOrange">@whoPage.Value("whoSubTitle")</p>
        <h3 class="font-bold text-adductioBlue text-2xl mt-2 mb-6">@whoPage.Value("whoTitle")</h3>
        <div class="text-adductioBlue leading-normal mb-4">@whoPage.Value("whoText")</div>
        @{
          if (templateAlias == "Home")
          {
            <a class="bg-adductioOrange font-bold uppercase text-white text-xs py-4 px-6 inline-block mt-6" href="/@currentCultureShortIsoCode/@contactsSlug">@contacts</a>
          }
        }
      </div>
    </div>
  </div>
</section>